.rounded1{
    border-radius: 25px !important;
}

.dropdown-menu {
    width: px;
    height: px;
  }
  .hover-color{
    transition: background-color .2s;
    border-radius: 10px;
  }
  .hover-color:hover{
    background-color: #FFC19D;
    border-radius: 10px;
  }
.hover-zoom{
transition:transform .2s
}
.hover-zoom:hover{
transform:scale(1.2)
}

.sidebar {
    height: 100%;
    position: absolute;
    background-color: #fdd1b7;
    }
    
